{% extends 'Base.html' %}
{% block content%}

<div class ="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO</h1>
                </div>
            </div>
        </div>    
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class ="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter your Taskname">
                </div>
                <div class ="form-group">
                    <input type="text" class="form-control" name="pri" placeholder="Enter your priority">
                </div>
                <div class ="form-group">
                    <input type="date" class="form-control" name="date">
                </div>
                    <input type="submit" class="btn btn-primary mb-2">
                    {% comment %} <a class ="btn btn-danger" href="{% url 'taskdetail' task1.id %}">Done</a> {% endcomment %}
            </form>
        </div>

    
        <div class="col-md-6">
            <h5 class="taskdone">Task To Be Done</h5>
            {% for i in task1 %}
                <div class ="shadow card">
                    <div class ="card-body">
                        <h4><b>{{ i.pri }}.</b></h4>
                        <h3 class='card-title'>{{ i.name }}</h3> 
                        <h3 class='card-title'>{{ i.date }}</h3> 
                        <input type="checkbox" check="check">
                        <a class ="btn btn-danger" href="{% url 'delet' i.id %}">Done</a>
                        <a class ="btn btn-success" href="{% url 'update' i.id %}">Edit</a>
                    </div>
                </div><br>
            {% endfor %}
        </div> 


    </div>
</div> 

{% endblock %}

